.navbar {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background: rgb(255, 223, 240);
  background: linear-gradient(
    180deg,
    rgb(41, 41, 41) 0%,
    rgb(130, 204, 204) 0%,
    rgb(255, 223, 240) 100%
  );
}

.navbar_ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar_ul svg {
  width: 30%;
  height: 30%;
  fill: black;
}

.navbar_ul a {
  flex-grow: 1;
  flex-basis: 0;
  list-style: none;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 10px 0;
  text-align: center;
}

.navbar_ul a:first-child {
  border-left: 0;
}

.navbar_ul a:last-child {
  border-right: 0;
}
