* {
  box-sizing: border-box;
  background-color: darkolivegreen;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  background: rgb(255, 223, 240);
  background: linear-gradient(
    180deg,
    rgba(255, 223, 240, 1) 0%,
    rgba(77, 27, 53, 1) 50%,
    rgba(43, 10, 28, 1) 100%
  );
  width: 50%;
  padding: 1%;
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
}

.header_title {
  color: aliceblue;
  background-color: transparent;
  margin: 0;
}

.header_description {
  color: aliceblue;
  background-color: transparent;
}
